<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}"> 
    <link rel="stylesheet" href="static/css/style.css">
    <title>Shinchaku: Home</title>
</head>
<body class="initial_page_container">
    <div class="random_shape" ></div>
    <nav class="slider_wrapper">
        <div class="slider_track">

            <div class="slide">
                <img class="images" src="{{ url_for('static', filename='img/ghost.png') }}" alt="ghost photo">
            </div>
            <div class="slide">
                <img class="images" src="{{ url_for('static', filename='img/cauldron.png') }}" alt="cauldron">
            </div>
            <div class="slide">
                <img class="images" src="{{ url_for('static', filename='img/fangs.png') }}" alt="fangs">
            </div>
            <div class="slide">
                <img class="images" src="{{ url_for('static', filename='img/invitation.png') }}" alt="invitation">
            </div>
            <div class="slide">
                <img class="images" src="{{ url_for('static', filename='img/fangs.png') }}" alt="fangs">
            </div>

    </nav>
    





    <main>
        <div></div>
    </main>








    <footer></footer>

</body>
</html>