<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}"> 
    <link rel="stylesheet" href="static/css/style.css">
    <title>Shinchaku: Home</title>
</head>
<body class="initial_page_container">
    <nav class="slider_wrapper">
        <div class="slider_tracl">

            <div class="slide">
                <img src="" alt="">
            </div>
            <div class="slide">
                <img src="" alt="">
            </div>
            <div class="slide">
                <img src="" alt="">
            </div>
            <div class="slide">
                <img src="" alt="">
            </div>
            <div class="slide">
                <img src="" alt="">
            </div>
            
        </div>
    </nav>







    <main></main>








    <footer></footer>

</body>
</html>