<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}"> 
    <link rel="stylesheet" href="static/css/style.css">
    <title>Shinchaku: Home</title>
</head>
<body class="initial_page_container">
    <nav class="nav_container">
        <div class="slider">
            <div class="slide_track">
                <div class="flex animate absolute left-0">
                    <div class="flex w-50 justify-around items-center logo">
                        <a href="#"><img src="" alt="" /></a>
                        <a href=""><img src="" alt="" /></a>
                        <a href=""><img src="" alt="" /></a>
                        <a href=""><img src="" alt="" /></a>
                        <a href=""><img src="" alt="" /></a>
                        <a href=""><img src="" alt="" /></a>
                        <a href=""><img src="" alt="" /></a>
                        <a href=""><img src="" alt="" /></a>
                        <a href=""><img src="" alt="" /></a>
                        <a href=""><img src="" alt="" /></a>
                    </div>
                    <div class="flex w-50 justify-around items-center logo">
                        <a href="#"><img src="" alt="" /></a>
                        <a href=""><img src="" alt="" /></a>
                        <a href=""><img src="" alt="" /></a>
                        <a href=""><img src="" alt="" /></a>
                        <a href=""><img src="" alt="" /></a>
                        <a href=""><img src="" alt="" /></a>
                        <a href=""><img src="" alt="" /></a>
                        <a href=""><img src="" alt="" /></a>
                        <a href=""><img src="" alt="" /></a>
                        <a href=""><img src="" alt="" /></a>
                    </div>
                </div>
                <!-- <div class="slide">
                    <div style="width:100%;height:0;padding-bottom:68%;position:relative;"><iframe src="https://giphy.com/embed/l2SpKF3z2hbcrRdkI" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div><p><a href="https://giphy.com/gifs/dave-chappelle-crackhead-crack-head-l2SpKF3z2hbcrRdkI"></a></p>
                </div>
                <div class="slide">
                    <div style="width:100%;height:0;padding-bottom:83%;position:relative;"><iframe src="https://giphy.com/embed/b8RfbQFaOs1rO10ren" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div><p><a href="https://giphy.com/gifs/theoffice-b8RfbQFaOs1rO10ren"></a></p>
                </div>
                <div class="slide">
                    <div style="width:100%;height:0;padding-bottom:54%;position:relative;"><iframe src="https://giphy.com/embed/xT9IgidZymvNfoEoqQ" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div><p><a href="https://giphy.com/gifs/nfl-football-dallas-cowboys-xT9IgidZymvNfoEoqQ"></a></p>
                </div>
                <div class="slide">
                    <div style="width:100%"><div style="height:0;padding-bottom:56.25%;position:relative;width:100%"><iframe allowfullscreen="" frameBorder="0" height="100%" src="https://giphy.com/embed/SNBjuSQv7bjA7W5Wlb/video" style="left:0;position:absolute;top:0" width="100%"></iframe></div></div>
                </div>
                <div class="slide">
                    <div style="width:100%;height:0;padding-bottom:58%;position:relative;"><iframe src="https://giphy.com/embed/TmVqs1EEKnFjq" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div><p><a href="https://giphy.com/gifs/today-air-TmVqs1EEKnFjq"></a></p>
                </div>
                <div class="slide">
                    <div style="width:100%;height:0;padding-bottom:56%;position:relative;"><iframe src="https://giphy.com/embed/xUPGcC4A6ElcqtUJck" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div><p><a href="https://giphy.com/gifs/funimation-attack-on-titan-shingeki-no-kyojin-xUPGcC4A6ElcqtUJck"></a></p>
                </div>
                <div class="slide">
                    <div style="width:100%;height:0;padding-bottom:100%;position:relative;"><iframe src="https://giphy.com/embed/sQBkCTTrJRLSE" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div><p><a href="https://giphy.com/gifs/golden-globes-sQBkCTTrJRLSE"></a></p>
                </div>
                <div class="slide">
                    <div style="width:100%;height:0;padding-bottom:100%;position:relative;"><iframe src="https://giphy.com/embed/Mkh1FeZ4uKkPk49x8n" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div><p><a href="https://giphy.com/gifs/SpiderManMovie-spiderman-spider-man-spidermanmovie-Mkh1FeZ4uKkPk49x8n"></a></p>
                </div> -->
            </div>
        </div>
    </nav>







    <main></main>








    <footer></footer>

</body>
</html>